
#pip install -r requirements.txt
transformers
pinecone-client
unstructured
pytube
youtube-transcript-api
langchainhub
langchain-anthropic
langchain_community
langchain-voyageai
langchain-pinecone
langchain-text-splitters
firecrawl-py
pinecone-client
firecrawl-py
voyageai 
pinecone-client 
datasets
scrapegraphai
youtube-transcript-api
pytube
anthropic-tools
tavily-python
dotenv-python
nest_asyncio
lxml
streamlit
langchain
langgraph